# Dependencies
/node_modules

# Prisma
/prisma/generated
/prisma/dev.db
/prisma/dev.db-journal

# Next.js
/.next/
/out/

# Build
/dist

# Environment
.env
.env.local
.env.production.local

# Debugging
*.log

# Vercel
/vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
.DS_Store